<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Chat Interface</title>
</head>

<style>
    .model-dropdown:hover .dropdown-content {
        display: block
    }
</style>

<body>
    <section>
        <div>
            <div class="flex flex-col justify-center items-center absolute top-0 w-full h-[1080px] bg-center bg-cover"
                style='background-image: url("https://images.pexels.com/photos/4421500/pexels-photo-4421500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");'>
                <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>

                <div class="bg-white/70 flex flex-col h-4/5 justify-center items-center max-w-5xl absolute rounded-3xl">
                    <div class="w-screen flex flex-col justify-evenly items-center py-8 px-4">
                        <form action="/chat" method="post" class="p-2 h-full rounded-2xl">
                            <h1 class="text-5xl py-4 font-bold bg-clip-text text-transparent bg-gradient-to-r text-center from-red-400 to-red-500 drop-shadow-md">Chat Interface</h1>
                            <select class="model-dropdown bg-red-200 p-2 rounded-lg" id="models" name="models">
                                <div class="dropdown-content">
                                    <option value="mistral">Mixtral</option>
                                    <option value="llama3">Llama3</option>
                                    <option value="gpt">GPT 3.5</option>
                                </div>
                            </select>
                            <div class="pb-2 w-full sm:w-[50rem] mx-5">
                                <h1 class="w-full py-2 px-3 font-bold text-black text-4xl">Pose Your Query</h1>

                                {% if chat_history %}
                                <ul class="h-[600px] overflow-auto py-4 px-3 bg-slate-200/20">
                                    {% for message in chat_history %}
                                    <li class="py-3 p-8 px-4 rounded-md sm:text-base text-xs">
                                        {% if loop.index is divisibleby 2 %}
                                        <!-- This is an answer -->
                                        <div class="bg-red-100 p-8 text-slate-600 font-semibold overflow-hidden rounded-md">
                                            {{ message | safe }}
                                        </div>
                                        {% else %}
                                        <!-- This is a question -->
                                        <div class="bg-gray-200 p-8 text-gray-800 font-semibold overflow-hidden font-size: large rounded-md">
                                            {{ message | safe}}
                                        </div>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <div class="w-full flex justify-center">
                                    <p class="border border-2 border-red-500 text-red-600 px-3 py-2 w-1/2 flex justify-center font-mono">No chat history available.</p>
                                </div>
                                {% endif %}

                                <div class="w-full py-4 flex flex-row justify-evenly">
                                    <input
                                        class="bg-red-300 w-full mx-4 py-2 rounded-2xl text-white font-mono px-4 border border-2 border-black"
                                        placeholder="Type your question..." type="text" name="user_question" id="user_question" required>
                                    <button class="px-7 mx-2 rounded-2xl bg-red-500 text-white hover:bg-red-400" type="submit">Send</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
</body>

</html>
